@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-sm md:text-base lg:text-lg;
  }
  
  body {
    @apply bg-background text-foreground antialiased tracking-wide;
    @apply font-mono;
    @apply mx-4 md:mx-8 lg:mx-16;
  }

  h1 {
    @apply text-xl md:text-2xl lg:text-3xl font-bold tracking-wider;
  }

  h2 {
    @apply text-lg md:text-xl lg:text-2xl font-bold tracking-wider;
  }

  h3 {
    @apply text-base md:text-lg lg:text-xl font-bold tracking-wider;
  }

  p {
    @apply text-sm md:text-base tracking-wide;
  }
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  @apply font-mono text-xs md:text-sm;
}


